/* You can add global styles to this file, and also import other style files */
.alert-danger {
    color: #a94442;
    background-color: #f2dede;
    border-color: #ebccd1;
    border-radius: 3px;
    padding: 2px 15px;
    margin-top: -3px;
}